{
	"useTabs": false,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-organize-imports"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"htmlWhitespaceSensitivity": "ignore",
	"semi": false
}
